{% extends 'based.html' %}
{% load static %}

{% block content %}
<button id="btn" onclick=ubahTema()>Ubah Tema</button>
<div class="welcome">
    <h1>Welcome!</h1>
</div>

<div class="desc">
    <h2>Inilah Saya:</h2>
</div>

<div class="accordion">
    <li>
        <a name="aktivitas">Aktivitas<ul class="nav justify-content-end"><button type="button" class="btn btn-secondary" id="naik0">^</button><button type="button" class="btn btn-dark" id="turun0">v</button></ul></a>
        <p>
            Belajar Online Karena Lagi PJJ<br/>
            Belajar PPW <br/>
            Belajar Bersabar <br/>
            Main Game Mobile Legend <br/>
            
        </p>
    </li>
    <li>
        <a name="organisasi">Pengalaman Organisasi<ul class="nav justify-content-end"><button type="button" class="btn btn-secondary" id="naik1">^</button><button type="button" class="btn btn-dark" id="turun1">v</button></ul></a>
        <p>
            Cuma Ada Satu <br/>
            KMBUI XXVIII 2020 Kestari <br/>
            Udah <br/>
        </p>
    </li>
    <li>
        <a name="panitia">Pengalaman Kepanitiaan<ul class="nav justify-content-end"><button type="button" class="btn btn-secondary" id="naik2">^</button><button type="button" class="btn btn-dark" id="turun2">v</button></ul></a>
        <p>
            Cuma Ada Satu :( <br />
            Perlap Makrab KMBUI 2019 <br />
            Sudah Itu Aja <br />
        </p>
    </li>
    <li>
        <a name="prestasi">Prestasi<ul class="nav justify-content-end"><button type="button" class="btn btn-secondary" id="naik3">^</button><button type="button" class="btn btn-dark" id="turun3">v</button></ul></a>
        <p>
            Gak Punya Prestasi <br />
            Mungkin Cuma Harapan <br />
            I'll Do My Best <br />
        </p>
    </li>
</div> 

{% endblock %}