{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/story10.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
        <title>Hi {{user}} !</title>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid bg-light">
            <div class="container text-center">
                <div class="span1"><h1>Selamat datang {{user}} !</h1></div>
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col">
                        <a href="/story10/logout"><button class="btn btn-primary">Logout</button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
