{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story10.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Login Page</title>
</head>
<body>
    <div class="main-login">
        <div class="login-section">
            <div id="logIn" class="auth-section">
                <h1 class="login-header">Log In</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                
                <div class="kasihjarak"></div>
                <div class="label-group">
                    <label class="input-label">Username</label>
                    <div class="input-group">
                        <input type="text" placeholder="Type your username" class="input" id="username" name="username" autocomplete="off">
                    </div>
                </div>
                
                <div class="kasihjarak"></div>
                <div class="label-group">
                    <label class="input-label">Password</label>
                    <div class="input-group">
                        <input type="password" placeholder="Type your password" class="input" id="password" name="password">
                    </div>
                </div>

                <button class="main-button" id="logInButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">Log In</div>
                </button>
                <a id="createAccountLink" class="create-new">Belum punya akun? Buat akun di sini.</a>
            </div>
            <div id="signUp" class="auth-section hide">
                <h1 class="login-header">Create New Account</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                <div class="kasihjarak"></div>
                <div class="label-group" >
                    <label class="input-label">Username:</label>
                    <div class="input-group">
                        <input type="text" id="username1" placeholder="Type your username" class="input" name="s_username" autocomplete="off">
                    </div>
                </div>
                
                <div class="kasihjarak"></div>
                <div class="label-group" >
                    <label class="input-label">Email:</label>
                    <div class="input-group">
                        <input type="email" id="email1" placeholder="1234@example.com" class="input" name="s_email">
                    </div>
                </div>
                <div class="kasihjarak"></div>
                <div class="label-group" >
                    <label class="input-label">Password:</label>
                    <div class="input-group">
                        <input type="password" id="password1" placeholder="Type your password" class="input" name="s_password">
                    </div>
                </div>
                <button class="main-button" id="signUpButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">Sign Up</div>
                </button>
                <a id="loginLink" class="create-new">Sudah memiliki akun? Klik di sini untuk masuk.</a>
            </div>
        </div>
       
    </div>
    <script src="{% static 'js/story10.js' %}"></script>
</body>
</html>
