.index-page {
    font-family: "Be Vietnam";
    margin-top: 125px;
}

#search-box {
    text-align: center;
    justify-content: center;
}

.kasihjarak {
    margin: 30px;
}

img {
    max-width: 128px;
    max-height: 190px;
}
#result {
    color: black;
    background: white;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    #result {
        font-size: 15px;
    }
}
