[accord="green"] {
    --color : #14d444;
}
[accord="indigo"] {
    --color : #17044e;
}
html {
    height: 100%;
}

#page-id {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    color: #201242;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

#page-id.toggled {
    background: linear-gradient(179.54deg, #080068 2.85%, rgba(170, 4, 4, 0.442708) 99.51%, rgba(0, 252, 222, 0) 99.52%);
    color: white;
    margin: 0;
    font-family: "Be Vietnam"
}

.welcome {
    padding-top: 2.5rem;
    text-align: center;
}

.desc {
    margin-top: 2.5rem;
    text-align: center;
}

#btn {
    background: #2bba0f;
    color: white;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#btn.toggled {
    background: #599dd9;
    color: rgb(0, 0, 0);
}

.accordion {
    max-width: 560px;
    margin: 0 auto;
    border-top: 1px solid #b3b3b3;
}

.accordion li {
    border-bottom: 1px solid #b3b3b3;
    position: relative;
    list-style-type: none;
}

.accordion li p {
    display: none;
    padding: 10px 25px 30px;
    list-style-type: none;
}

.accordion a {
    background: var(--color);
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-size: 14px;
    font-size: 0.875rem;
    text-indent: 15px;
    user-select: none;
}


.accordion p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 2;
    padding: 10px;
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    #btn {
        font-size: 14px;
    }
}
