.main-login{
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    padding-left: 28vw;
}

.content-section{
    background-color:#ffe866;
    width:62vw;
    position: fixed;
    right: 0px;
    top:0px;
}

.login-header{
    margin-bottom:20px;
}

.login-section{
    display:flex;
    flex-direction: column;
    width:30vw;
    padding:60px;
    padding-top:50px;
    padding-bottom:50px;
}

.main-button{
    margin-top:40px;
    width:40%;
    background-color: rgb(112, 123, 221);
    padding:15px;
    font-weight: 700;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.create-new{
    color:gray;
    font-size: 12px;
    margin-top:25px;
    cursor: pointer;
}

.auth-section{
    display:flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 350px;
    padding: 35px;
    border-style: solid;
    border-color: rgb(9, 9, 27);
    background-color: white;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.homepage{
    width:50vw;
    padding:80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}
.kasihjarak {
    margin: 6px;
}
.error-message {
    color: rgb(216, 6, 6);
}

.success-message {
    color: rgb(30, 184, 30);
}