{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row justify-content-center my-5">
            <div class="col-sm-8"><h1>Apa anda yakin ingin posting?</h1></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3">Nama</div>
            <div class="col-sm-5">{{status_tmp.nama}}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3">Status</div>
            <div class="col-sm-5">{{status_tmp.status}}</div>
        </div>
        <div class="row justify-content-center mt-2">
            <input class="btn btn-primary my-5 mx-3" type="submit" name="tindakan" value="Ya">
            <input class="btn btn-secondary my-5 mx-3" type="submit" name="tindakan" value="Tidak">
        </div>
    </form>
</div>
{% endblock %}

