{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-sm-5"><h1>Apa Kabarmu Hari Ini?</h1></div>
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in status_form.visible_fields %}
        <div class="row justify-content-center">
            <div class="col-sm-3">{{field.label_tag}}</div>
            <div class="col-sm-5">{{field}}</div>
        </div>
        {% endfor %}
        <div class="row justify-content-center mt-2">
            <input class="btn btn-secondary my-5 mx-3" type="submit" value="Posting">
        </div>
    </form>
    {% if posting.count %}
        <div class="container">
            {% for post in posting %}
            <div class="row justify-content-center mt-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{post.nama}}</h5>
                            <p class="card-text">{{post.status}}</p>
                            <p class="card-text">{{post.tanggal}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
