{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/story9.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="{% static 'js/story9.js' %}"></script>
    <title>Story 9 Handi</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid bg-dark" id="search-box">
        <div class="container text-center text-light">
            <h1>Find your book(s) here!</h1>
            <div class="form-group">
                <div class="col-sm-6 offset-sm-3">
                    <input id="search" class="form-control" type="text" placeholder="Search">
                </div>
            </div>
            <button class="btn btn-primary" id="button-search" type="submit" value="submit">Search</button>
            <button  type="button" id="modalButton" class="btn btn-primary" data-toggle="modal" data-target="#topBookModal">
                Top 5 Buku yang Disukai
            </button>
            <div class="modal fade" id="topBookModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span class="main-title">Top 5 Buku Yang Disukai</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="topBookContainer">
                        
                    </div>
        
                </div>
                </div>
            </div>
            
        </div>
        
        
    
        
        <div class="kasihjarak"></div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id="result">

                </div>
            </div>
        </div>
        
    
    </div>
    


</body>

</html>
